In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import string
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from moscow_housing.display_data import import_data

plt.style.use('ggplot')
%matplotlib inline
#Eirik

In this notebook we will do EDA (explanatory data analysis). We will look at dataset standard statistics, individual feature analysis and finding any relations or trends considering multiple features. As a conlusion we will suggest features which can be added as a result of EDA

In [7]:
#import data
data_train, data_test = import_data()

#sometimes we have to look at all the data togheter
all_data = pd.concat([data_train,data_test])
all_data

,id,seller,price,area_total,area_kitchen,area_living,floor,rooms,layout,ceiling,...,address,constructed,material,stories,elevator_without,elevator_passenger,elevator_service,parking,garbage_chute,heating
0,0,3.0,7139520.0,59.2,12.5,31.0,2.0,2.0,NaN,2.65,...,к2.5/2,2021.0,3.0,9.0,0.0,1.0,1.0,1.0,NaN,NaN
1,1,NaN,10500000.0,88.0,14.2,48.0,18.0,3.0,1.0,NaN,...,14к3,2010.0,3.0,25.0,0.0,1.0,1.0,1.0,NaN,0.0
2,2,3.0,9019650.0,78.5,22.5,40.8,12.0,3.0,NaN,2.65,...,38,2021.0,3.0,15.0,0.0,1.0,1.0,1.0,NaN,NaN
3,3,NaN,10500000.0,88.0,14.0,48.0,18.0,3.0,NaN,NaN,...,14к3,2010.0,3.0,25.0,0.0,1.0,1.0,1.0,NaN,0.0
4,4,NaN,13900000.0,78.0,17.0,35.0,7.0,2.0,1.0,2.90,...,1к3,2017.0,2.0,15.0,0.0,1.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9932,33217,3.0,NaN,106.0,19.9,56.7,16.0,3.0,NaN,3.30,...,10А,2020.0,2.0,20.0,0.0,1.0,1.0,0.0,NaN,0.0
9933,33218,NaN,NaN,82.0,NaN,NaN,3.0,3.0,NaN,NaN,...,к1,2021.0,2.0,20.0,0.0,1.0,1.0,1.0,NaN,NaN
9934,33219,NaN,NaN,49.3,NaN,NaN,15.0,1.0,NaN,0.00,...,70к5,2016.0,2.0,24.0,0.0,1.0,1.0,0.0,1.0,1.0
9935,33220,NaN,NaN,38.8,10.5,15.1,14.0,1.0,NaN,3.30,...,1,2019.0,NaN,14.0,1.0,1.0,1.0,0.0,1.0,NaN
9936,33221,1.0,NaN,71.5,7.0,49.0,2.0,3.0,NaN,NaN,...,2,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#Now lets look at all the basics of the data
print('Number of Training Examples = {}'.format(data_train.shape[0]))
print('Number of Test Examples = {}\n'.format(data_test.shape[0]))
print('Training X Shape = {}'.format(data_train.shape))
print('Training y Shape = {}\n'.format(data_train['price'].shape[0]))
print('Test X Shape = {}'.format(data_test.shape))
print('Test y Shape = {}\n'.format(data_test.shape[0]))
print('Train columns \n', list(data_train.columns))
print('Test columns \n', list(data_test.columns))

#check type of each column, and see how many duplicates we have:
for column in data_train.columns:
    print('\n - type of column: ', data_train.dtypes[column],'\n - number of null values: ', data_train[column].isnull().sum(), '\n - number of unique inputs: ', data_train[column].value_counts().count(),'\n', data_train[column].value_counts())

Number of Training Examples = 23285
Number of Test Examples = 9937

Training X Shape = (23285, 34)
Training y Shape = 23285

Test X Shape = (9937, 33)
Test y Shape = 9937

Train columns
 ['id', 'seller', 'price', 'area_total', 'area_kitchen', 'area_living', 'floor', 'rooms', 'layout', 'ceiling', 'bathrooms_shared', 'bathrooms_private', 'windows_court', 'windows_street', 'balconies', 'loggias', 'condition', 'phones', 'building_id', 'new', 'latitude', 'longitude', 'district', 'street', 'address', 'constructed', 'material', 'stories', 'elevator_without', 'elevator_passenger', 'elevator_service', 'parking', 'garbage_chute', 'heating']
Test columns
 ['id', 'seller', 'area_total', 'area_kitchen', 'area_living', 'floor', 'rooms', 'layout', 'ceiling', 'bathrooms_shared', 'bathrooms_private', 'windows_court', 'windows_street', 'balconies', 'loggias', 'condition', 'phones', 'building_id', 'new', 'latitude', 'longitude', 'district', 'street', 'address', 'constructed', 'material', 'stories', 'elevator_without', 'elevator_passenger', 'elevator_service', 'parking', 'garbage_chute', 'heating']

 - type of column:  int64
 - number of null values:  0
 - number of unique inputs:  23285
 0        1
15531    1
15529    1
15528    1
15527    1
        ..
7760     1
7759     1
7758     1
7757     1
23284    1
Name: id, Length: 23285, dtype: int64

 - type of column:  float64
 - number of null values:  8830
 - number of unique inputs:  4
 3.0    6185
1.0    4768
2.0    1895
0.0    1607
Name: seller, dtype: int64

 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  9504
 7500000.0     212
6500000.0     203
8500000.0     198
9500000.0     177
7200000.0     153
             ...
30539223.0      1
30630500.0      1
29964200.0      1
30080600.0      1
29999000.0      1
Name: price, Length: 9504, dtype: int64

 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  3249
 39.00     309
38.00     307
40.00     281
33.00     264
45.00     254
         ...
63.38       1
44.84       1
50.07       1
61.55       1
355.40      1
Name: area_total, Length: 3249, dtype: int64

 - type of column:  float64
 - number of null values:  4721
 - number of unique inputs:  385
 6.0     1334
10.0    1333
9.0      902
8.0      657
20.0     628
        ...
33.2       1
48.0       1
3.2        1
50.5       1
42.0       1
Name: area_kitchen, Length: 385, dtype: int64

 - type of column:  float64
 - number of null values:  3882
 - number of unique inputs:  1041
 19.00     630
20.00     524
18.00     452
30.00     416
30.30     321
         ...
8.70        1
7.40        1
6.50        1
104.60      1
24.16       1
Name: area_living, Length: 1041, dtype: int64

 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  84
 2.0     2725
3.0     2213
4.0     1915
5.0     1779
6.0     1400
        ...
68.0       1
77.0       1
79.0       1
83.0       1
65.0       1
Name: floor, Length: 84, dtype: int64

 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  6
 2.0    7667
1.0    7269
3.0    5906
4.0    1768
5.0     464
6.0     211
Name: rooms, dtype: int64

 - type of column:  float64
 - number of null values:  17642
 - number of unique inputs:  3
 1.0    4937
2.0     465
0.0     241
Name: layout, dtype: int64

 - type of column:  float64
 - number of null values:  11093
 - number of unique inputs:  121
 2.64      1992
3.00      1750
2.70      1152
2.80      1011
3.10       967
          ...
275.00       1
270.00       1
0.03         1
5.70         1
6.45         1
Name: ceiling, Length: 121, dtype: int64

 - type of column:  float64
 - number of null values:  3872
 - number of unique inputs:  5
 0.0    8478
1.0    8111
2.0    2367
3.0     355
4.0     102
Name: bathrooms_shared, dtype: int64

 - type of column:  float64
 - number of null values:  3872
 - number of unique inputs:  5
 0.0    8982
1.0    8316
2.0    1853
3.0     202
4.0      60
Name: bathrooms_private, dtype: int64

 - type of column:  float64
 - number of null values:  8072
 - number of unique inputs:  2
 1.0    12127
0.0     3086
Name: windows_court, dtype: int64

 - type of column:  float64
 - number of null values:  8072
 - number of unique inputs:  2
 0.0    8083
1.0    7130
Name: windows_street, dtype: int64

 - type of column:  float64
 - number of null values:  10520
 - number of unique inputs:  5
 0.0    6607
1.0    5306
2.0     773
3.0      66
4.0      13
Name: balconies, dtype: int64

 - type of column:  float64
 - number of null values:  10520
 - number of unique inputs:  5
 1.0    6329
0.0    5388
2.0     915
3.0      99
4.0      34
Name: loggias, dtype: int64

 - type of column:  float64
 - number of null values:  9810
 - number of unique inputs:  4
 1.0    4540
0.0    3643
2.0    3296
3.0    1996
Name: condition, dtype: int64

 - type of column:  float64
 - number of null values:  80
 - number of unique inputs:  3
 1.0    17749
2.0     4611
0.0      845
Name: phones, dtype: int64

 - type of column:  int64
 - number of null values:  0
 - number of unique inputs:  6791
 7203    143
4162    130
8776    127
6703    127
6512    122
       ...
9544      1
3464      1
2132      1
2009      1
6761      1
Name: building_id, Length: 6791, dtype: int64

 - type of column:  float64
 - number of null values:  264
 - number of unique inputs:  2
 0.0    15247
1.0     7774
Name: new, dtype: int64

 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  6208
 55.714414    143
55.521170    132
55.544046    130
55.595160    130
55.723257    127
            ...
55.764521      1
55.537801      1
55.629674      1
55.534688      1
55.649921      1
Name: latitude, Length: 6208, dtype: int64

 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  6159
 37.657907    143
37.741109    132
37.354734    132
37.478055    130
37.527660    127
            ...
37.816334      1
37.571147      1
37.742627      1
37.679466      1
37.467994      1
Name: longitude, Length: 6159, dtype: int64

 - type of column:  float64
 - number of null values:  130
 - number of unique inputs:  12
 4.0     2492
6.0     2447
0.0     2426
1.0     2405
7.0     2389
5.0     2304
3.0     2225
8.0     2207
2.0     1984
11.0    1689
10.0     324
9.0      263
Name: district, dtype: int64

 - type of column:  object
 - number of null values:  0
 - number of unique inputs:  1682
 Ленинградский проспект       457
Дмитровское шоссе            335
Мосфильмовская улица         266
Саларьево Парк ЖК            219
Ленинский проспект           216
                            ...
Перовский проезд               1
Красносолнечная улица          1
1-я Тверская-Ямская улица      1
Запорожская улица              1
улица Пушкинская               1
Name: street, Length: 1682, dtype: int64

 - type of column:  object
 - number of null values:  0
 - number of unique inputs:  1851
 8        593
3        435
2        433
1        358
6        355
        ...
91К3       1
142К4      1
7/5К1      1
88/20      1
58К2       1
Name: address, Length: 1851, dtype: int64

 - type of column:  float64
 - number of null values:  794
 - number of unique inputs:  128
 2021.0    3097
2019.0    2396
2020.0    1787
2018.0     929
2011.0     871
          ...
1924.0       1
1856.0       1
1901.0       1
1895.0       1
1944.0       1
Name: constructed, Length: 128, dtype: int64

 - type of column:  float64
 - number of null values:  3972
 - number of unique inputs:  7
 2.0    10149
3.0     5538
0.0     2255
4.0     1188
5.0      177
1.0        4
6.0        2
Name: material, dtype: int64

 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  62
 9.0     2685
17.0    2393
14.0    1711
16.0    1495
12.0    1490
        ...
62.0       2
75.0       2
1.0        1
42.0       1
46.0       1
Name: stories, Length: 62, dtype: int64

 - type of column:  float64
 - number of null values:  357
 - number of unique inputs:  2
 0.0    13926
1.0     9002
Name: elevator_without, dtype: int64

 - type of column:  float64
 - number of null values:  357
 - number of unique inputs:  2
 1.0    21320
0.0     1608
Name: elevator_passenger, dtype: int64

 - type of column:  float64
 - number of null values:  357
 - number of unique inputs:  2
 1.0    17038
0.0     5890
Name: elevator_service, dtype: int64

 - type of column:  float64
 - number of null values:  6788
 - number of unique inputs:  3
 1.0    8500
0.0    7524
2.0     473
Name: parking, dtype: int64

 - type of column:  float64
 - number of null values:  8811
 - number of unique inputs:  2
 1.0    11672
0.0     2802
Name: garbage_chute, dtype: int64

 - type of column:  float64
 - number of null values:  8161
 - number of unique inputs:  4
 0.0    13371
1.0     1263
3.0      419
2.0       71
Name: heating, dtype: int64

As we can see, the training and test set have the same number of columns except for price. Lets look at little bit closer at these features.
### **Features description**
* `id` - Unique ID for apartment
    - type of column:  int64
    - number of null values:  0
    - number of unique inputs:  23285
* `seller` - The type of apartment seller
 - type of column:  float64
 - number of null values:  8830
 - number of unique inputs:  4
* `price` - The listed price of the apartment (TARGET: only available in train)
 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  9504
* `area_total` - Total area of the apartment
 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  3249
* `area_kitchen` - Total kitchen area in the apartment
 - type of column:  float64
 - number of null values:  4721
 - number of unique inputs:  385
* `area_living` - Total living space area in the apartment
 - type of column:  float64
 - number of null values:  3882
 - number of unique inputs:  1041
* `floor`- Primary building floor of the apartment
 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  84
* `rooms` - Number of rooms in the apartment
 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  6
* `layout` - Overal apartment layout
 - type of column:  float64
 - number of null values:  17642
 - number of unique inputs:  3
* `ceiling` - Ceiling height in the apartment
 - type of column:  float64
 - number of null values:  11093
 - number of unique inputs:  121
* `bathrooms_shared` - Number of shared bathrooms
 - type of column:  float64
 - number of null values:  3872
 - number of unique inputs:  5
* `bathrooms_private` - Number of private bathrooms
 - type of column:  float64
 - number of null values:  3872
 - number of unique inputs:  5
* `windows_court` - Whether the apartment has windows facing a courtyard
 - type of column:  float64
 - number of null values:  8072
 - number of unique inputs:  2
* `windows_street` - Whether the apartment has windows facing a street
 - type of column:  float64
 - number of null values:  8072
 - number of unique inputs:  2
* `balconies` - Number of balconies in the apartment
 - type of column:  float64
 - number of null values:  10520
 - number of unique inputs:  5
* `loggias`- Number of loggias in the apartment (balcony-like, google it)
 - type of column:  float64
 - number of null values:  10520
 - number of unique inputs:  5
* `condition` - Current condition of the apartment
 - type of column:  float64
 - number of null values:  9810
 - number of unique inputs:  4
* `phones` - Number of phone numbers associated with the advert
 - type of column:  float64
 - number of null values:  80
 - number of unique inputs:  3
* `building_id` - ID used to map apartments to buildings
 - type of column:  int64
 - number of null values:  0
 - number of unique inputs:  6791
* `new` - Whether it is an old or new building
 - type of column:  float64
 - number of null values:  264
 - number of unique inputs:  2
* `latitude` - Latitude coordinate of building
 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  6208
* `longitude` - Longitude coordinate of building
 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  6159
* `district` - Administriative district within Moscow
 - type of column:  float64
 - number of null values:  130
 - number of unique inputs:  12
* `street` - Bulding street name
 - type of column:  object
 - number of null values:  0
 - number of unique inputs:  1682
* `address` - Building address (within street)
 - type of column:  object
 - number of null values:  0
 - number of unique inputs:  1851
* `constructed` - Year when the building was constructed
 - type of column:  float64
 - number of null values:  794
 - number of unique inputs:  128
* `material` - Primary building material used in building
 - type of column:  float64
 - number of null values:  3972
 - number of unique inputs:  7
* `stories` - Total number of floors in the building
 - type of column:  float64
 - number of null values:  0
 - number of unique inputs:  62
* `elevator_without` - Whether the building has apartments without elevator access
 - type of column:  float64
 - number of null values:  357
 - number of unique inputs:  2
* `elevator_passenger` - Whether the building has apartments with passenger elevator access
 - type of column:  float64
 - number of null values:  357
 - number of unique inputs:  2
* `elevator_service` - Whether the building has apartments with service elevator access
 - type of column:  float64
 - number of null values:  357
 - number of unique inputs:  2
* `parking` - Parking options for building
 - type of column:  float64
 - number of null values:  6788
 - number of unique inputs:  3
* `garbage_chute` - Whether the building has a garbage chute system
 - type of column:  float64
 - number of null values:  8811
 - number of unique inputs:  2
* `heating` - Primary heating system used in the building
 - type of column:  float64
 - number of null values:  8161
 - number of unique inputs:  4

Building - building average price som feature
Latitude-longtiude - avstand fra sentrum
distict - district average price som feature
street og address -

kategorisek fylle inn nan?

In [17]:
data_with_radius = data_train
data_with_radius['radius'] = np.sqrt((data_with_radius['latitude']-55.75)**2 + (data_with_radius['longitude']-37.55)**2)

for districts in data_train['district'].value_counts():
    print(districts)

corr = data_train.corr()
corr_2 = data_with_radius.corr()

corr.style.background_gradient(cmap='coolwarm')
corr_2.style.background_gradient(cmap='coolwarm')

TypeError: 'bool' object is not iterable